/**
* <div>Icons made by <a href="https://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
* <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
* <div>Icons made by <a href="https://www.flaticon.com/authors/chanut-is-industries" title="Chanut is Industries">Chanut is Industries</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/
body{
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;;
}

nav{
	background-color:#0D8130;	
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	align-items: center;
}

nav, main, footer{	
	margin: 0px 5px 0px;
}

nav div{
	display: flex;
	align-items: center;
}
nav > ul{
	display: none;
}

nav > ul > li{
	display: inline-block;
	margin: 0px 20px 0px;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}
i{vertical-align: middle;}

h1{
	font-size: 1.2rem;
}

.logo{
	width: 1.5rem;
	height: 1.5rem;
	padding-left: 5px;
}

.menu {
	padding: 17px;
	width: 1.5rem;
	height: 1.5rem;
}


/**/
.home-search{
	background-image: url("../images/arboles.jpg");
	height: 240px;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	margin-top: 5px;
}

.home-search label{	color: #0D8130;	}

.inputsHome input[type="date"]{
	padding: 0px;
	width: 110px;
	margin: 15px 0 15px 0;
	color: gray;
}

.inputsHome input[type="text"]{
	border:none;
	background: none;
	padding: 10px 0 3px 0;
	border-bottom: 1px solid gray;

}input[type="text"]:focus{
	border-bottom:2px solid #0D8130 ;
}
.inputsHome select{
	background-color: transparent;
	overflow: hidden;
	padding: 5px 0 3px 0;
	color: gray;
}
.inputsHome select option{
	border-bottom: 1px solid #EFEFEF;
}


.home-search > h3{
	display: inline-block;
}

.inputsHome{
	background: rgba(255,255,255,0.8);
	margin: 0 auto;
	width: 90%;
	font-size: 80%;
	padding: 10px;	
	text-align: left;
	display: grid;
	grid-template-areas: "a b" 
						"c c";
	grid-template-columns: 80% 20%;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
}

.location-input{
	grid-area: a;
}

.people-input{
	grid-area: b;
}

.fechas{
	grid-area:c;
	display: flex;
	flex-wrap: nowrap;
}
.fechas label:first-child, .fechas label:last-child{
	margin-left:5px;
}

.fechas input{
	width: 60%;
}

.location-input input{
	width: 80%;
}

.people-input input{
	width: 25px;
}

.type-input{
	width: 200px;
	margin-top: 10px;
	background-color:#FFFFFF;
	border:none;
	border-bottom: 1px solid #0D8130;
}
.type-input:hover{
	background-color:#f8f8f8;
}

aside i, #filter i{
	color: #0D8130;
	vertical-align: top;
	margin-top: 10px;
}

button span{
	display: block;
}

button, .orderBy select{
	border-radius: 2px;
  	border-width: 0;
  	box-shadow: 0 1px 4px rgba(0, 0, 0, .6); 
}

.home-search button{
	margin-top: 10px;
  	background-color: #0D8130;
  	color: #EFEFEF;
}

.home-search button span {
 	padding: 5px 5px;
}

.home-search button:hover, .home-search button:focus {
 	background-color: #0F9839;
}

.home-search .material-icons{
	color:#0D8130;
	font-size: 20px;
}

button:active{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

aside{
	display: none;
	padding: 5px;
	margin: 5px 0px 5px 0px;
	box-shadow: 0 3px 6px rgba(3, 38, 14,0.16), 0 3px 6px rgba(5,51,19,0.23);
	color:gray;
	font-size: 0.9rem;
}

aside strong, #filter strong{
	color:#0D8130;
}

aside ul li, #filter ul li{
	margin-bottom: 20px;
}

aside select{
	width: 40%;
}

aside input{
	color: gray;
}

aside .buttonsFilter, #filter .buttonsFilter{
	display: flex;
	justify-content: space-around;
}

.orderBy{	
	font-size: 0.9rem;
	padding: 5px;	
	display: flex;
	justify-content: space-between;

}

.orderBy button, .orderBy select, aside button, #filter button{
	background-color: #EEEEEE;
	color: #0D8130;
}

.orderBy button, aside button, #filter button{
	padding: 5px 20px;
}

.orderBy button:hover, .orderBy select:hover, aside button:hover, #filter button:hover{
	background-color: #FAFAFA;
}

 select{
	appearance: none;
	-moz-appearance: none;
 	-webkit-appearance: none;
}

/**/
.houses{
	display:grid;
}

main > section > .houses > a > article{
	background-color: #FFFFFF;
	margin: 5px;
	font-size: 0.7rem;
	color: gray;
	padding:5px;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	border: 1px solid #0D8130;
	box-shadow: 0 3px 6px rgba(3, 38, 14,0.16), 0 3px 6px rgba(5,51,19,0.23);
}

article li{
	margin-bottom: 10px;
}
#stars{
	margin-left: 10px;
	width: 70px;
	vertical-align: middle;
}
article > div > div{
	display: flex;
}

.btnDisconnect{
	margin: 20px 20px 0px 0px;
}

main > section > .houses > a > article:hover{
	transform:scale(1.008);
}

main > section > .houses > a > article h3, h4{
	margin:3px;
}

main > section > .houses > a > article ul{
	margin:0;
	padding:0;
}

article > div > ul > li{
	margin-bottom: 10px;
}

article .material-icons{
	color: #0D8130;
}

.casarural{
	width: 90%;
	height: 90%;
	margin-top: 5px;
}

.btnDisconnect{
	width: 3rem;
	height: 3rem;
	margin-left: 30px;
	display: none;
}

footer{	
	background-color: #0D8130;
	color: white;
	padding: 20px;
	text-align: center;
}

.terminos a{
	margin: 0px 5px 0px;
}

.redesSocialesFooter > a > img{
	width: 1.5rem;
	height: 1.5rem;
	margin: 20px 10px 0px;
}

/* --------------------------- LODGING --------------------------- */

#map{
	margin: 0 auto;
	width:70%;
}

iframe{
	width: 100%;
	height: auto;
	border: 0;
	margin: 10px;
}

.name-lodging{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding-bottom: 5px;
	background-color:#EDEDED;
}

.buttons-lodging a{
	color: #0D8130;
}

.name-lodging a{
	color: gray;
}

.name-lodging h3, .name-lodging h4{
	text-align: center;
	color: #0D8130;
}

.name-lodging span{
	display: none;
}

.buttons-lodging{
	padding: 10px;
	display: flex;
	justify-content: space-around;
	border: 1px solid gray;
	border-radius: 20px;
	background-color: #EDEDED;
}

.form-lodging{
	display: none;
}

.lodging img{
	width: 100%;
}

.img-lodging{
	padding: 15px;
}
.img-lodging ul{
	display: flex;
	justify-content: space-between;
	font-size: 0.7rem;
	padding-left: 0px;
	color: gray;
}

.form-lodging button{	
	background-color: #0D8130;
	color: white;
}

.form-lodging button span{
	margin: 8px 10px 8px;
}


.form-lodging li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.form-lodging li > button > img{
	width: 20px;
	height: 20px;
	margin: 5px 35px 5px;
}

.img-lodging .material-icons{
	color: #0D8130;
}

.info{
	height: 50px;
	overflow: hidden;
	transition: height 1s;
}

.info:hover{
	height: 250px;
}

.info > p{
	padding: 0px 15px 0px;
	font-size: 0.9rem;
	color: #3F3F3F;
}

.main-lodging a p{
	color: gray;
	border-top: 1px solid gray;
	margin: 0px 5px 0px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#disconnect{
	right: 25px;
}

#share{
	right: 80px;
}

.main-lodging > a > img{
	width: 50px;
	height: 50px;
}

.form-lodging{
	display: block;
	text-align: left;
}

.form-lodging ul button{
	display:inline-block;
}

.form-lodging > button{
	display: none;
}

.form-lodging > button{
	border-radius: 100px;
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 20px 0px 0px 20px;
}

#tw {	background-color: #00BCD4;}

#fb{	background-color: #4758B5;}

#inst{	background-color: #E92568;}

#g{	background-color: #F44336;}

.form-lodging > button > img{
	width: 20px;
}

/*** ------------- FORM ------------------- ***/

.form-lodging .form{
	display: none;
}
.form, #filter{
	width: 90%;
	max-width: 250px;
	padding: 0px 20px 10px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 0px 3px gray;
	margin-top: 20px;
	font-size: 0.9rem;
	
}
#filter{	margin-bottom: 20px;}


.form h4{
	background-color: #0D8130;
	color: white;
	padding: 10px;
}

.form div{
	margin-top: 20px;
}

.input-group{
	line-height: 0px;
}

.input-group label, .input-date label{
  color:#999;
}

.input-checkbox{
	color: #0D8130;
	margin-bottom: 10px;
}

.form input[type="date"]{color: gray;}

.form input[type="text"], input[type="email"], input[type="date"]{
	font-size: 16px;
	width: 90%;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 1px solid #0D8130;
	font-size: 0.8rem;
}

.form button{
	padding: 10px;
	transition: background-color 1s;
}

.form button label{
	padding: 10px;
}
		
.form button:hover{
	background-color: #074D1C;
}
#form{
	margin-bottom:20px;
}

input:focus{
	border-bottom: 2px solid #074D1C;
}

/* -------------- MEDIA --------------------*/

		
@media (min-width: 480px){
	
	.houses{
		grid-template-columns: 1fr 1fr;
	}	

	.menu{
		display: none;
	}

	nav > ul{
		display: inline-block;
	}

	.name-lodging span{
		display: inline;
	}	

	.info{
		height: 250px;
	}

	.info > a > p > i{
		display:none;
	} 

	.inputsHome{
		width: 300px;
	}

	.btnDisconnect{
		display: block;
	}

}

@media (min-width: 520px){
	.form-lodging{
		display: inline-block;
		vertical-align: top;
	}

	.lodging{
		display: inline-block;
		width: 70%;
	}

}

@media (min-width: 600px){

	.home-search{
		grid-area: sectionA;
		height: 300px;
	}

	.home-search h3{
		font-size: 40px;
	}
	.form-lodging{
		padding-top: 40px;
	}
	.form-lodging ul li{
	display:block;
	}
	.form-lodging li {
    margin-bottom: 20px;
}
	

}

@media (min-width: 1024px){
	
	.btnFiltrar{
		display:none;
	}
	aside{
		width: 20%;
		display: inline-block;
	}

	.found{
		display: inline-block;
		width: 77%;
		vertical-align: top;
	}

	.form-lodging > button{
		display: inline;
	}

	.form-lodging ul{
		display: none;
	}

	.form-lodging .form{
		display: block;
	}

	.inputsHome{
		width: 70%;
		grid-template-areas: "a b c";
		grid-template-columns: 25% 10% 40%;
		justify-content: center;
	}

}